.card {
    width: 18rem;
    margin-right: 0px;
}

.card img {
    width: 286px;
    height: 230px;
}

.btn-cart {
    width: 100%;
    background-color: rgb(168, 179, 179);
    border-radius: 0px 0px 4px 4px;
    border: none;
}